<md-tabs md-dynamic-height md-border-bottom class="md-primary" style="border-radius: 0;"  md-selected="selectedIndex">
  <md-tab label="Applications">
    <md-content class="md-padding" ng-controller="AppsController">
      <ng-include src="'js/templates/apps.html'"></ng-include>
    </md-content>
  </md-tab>
  <md-tab label="Themes">
    <md-content class="md-padding" ng-controller="ThemesController">
      <ng-include src="'js/templates/themes.html'"></ng-include>
    </md-content>
  </md-tab>
  <md-tab label="Icons">
    <md-content class="md-padding" ng-controller="IconsController">
      <ng-include src="'js/templates/icons.html'"></ng-include>
    </md-content>
  </md-tab>
  <md-tab label="Scripts">
    <md-content class="md-padding" ng-controller="ScriptsController">
      <ng-include src="'js/templates/scripts.html'"></ng-include>
    </md-content>
  </md-tab>
  <md-tab label="Install">
    <md-content class="md-padding">
      <ng-include src="'js/templates/install.html'"></ng-include>
    </md-content>
  </md-tab>
</md-tabs>

<md-button id="mainFab" class="md-fab md-warn md-hue-2" ng-hide="isHidden()" ng-click="nextTab()">
    <i class="material-icons">keyboard_arrow_right</i>
</md-button>
