<md-tabs md-dynamic-height md-border-bottom class="md-primary md-hue-2" style="border-radius: 0;"  md-selected="selectedIndex">
  <md-tab label="Applications">
    <section class="md-padding" ng-controller="AppsController">
      <ng-include src="'js/templates/apps.html'"></ng-include>
    </section>
  </md-tab>
  <md-tab label="Themes">
    <section class="md-padding" ng-controller="ThemesController">
      <ng-include src="'js/templates/themes.html'"></ng-include>
    </section>
  </md-tab>
  <md-tab label="Icons">
    <section class="md-padding" ng-controller="IconsController">
      <ng-include src="'js/templates/icons.html'"></ng-include>
    </section>
  </md-tab>
  <md-tab label="Scripts">
    <section class="md-padding" ng-controller="ScriptsController">
      <ng-include src="'js/templates/scripts.html'"></ng-include>
    </section>
  </md-tab>
  <md-tab label="Install">
    <section class="md-padding" ng-controller="InstallController">
      <ng-include src="'js/templates/install.html'"></ng-include>
    </section>
  </md-tab>
</md-tabs>

<md-button id="mainFab" class="md-fab md-primary" ng-hide="isHidden()" ng-click="nextTab()">
    <i class="material-icons">keyboard_arrow_right</i>
</md-button>
