<section class="scripts-list md-padding" layout="row" layout-wrap="" layout-align="center start">
  <div flex-sm="100" flex-md="50" flex-lg="33" flex-gt-lg="25" layout="column" ng-repeat="script in scripts">
    <md-card ng-style="{'background-color': script.color }">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ script.name }}</span>
          <span class="md-subhead">{{ script.autor.name }}</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-switch class="md-primary md-hue-2" ng-checked="exists(script)" ng-click="toggle(script)"></md-switch>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <p>{{ script.desc }}</p>
      </md-card-content>
    </md-card>
  </div>
</section>
