<md-content layout-padding class="autoScroll">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Profile Name</label>
      <md-icon class="material-icons">person</md-icon>
      <input type="text" flex>
    </md-input-container>
    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Load Profile</label>
      <md-select ng-model="user.state">
        <md-option value="perfil1">Perfil 1</md-option>
        <md-option value="perfil2">Perfil 2</md-option>
        <md-option value="perfil3">Perfil 3</md-option>
        <md-option value="perfil4">Perfil 4</md-option>
      </md-select>
    </md-input-container>
  </md-content>
