<section layout-padding ng-cloak>
  <md-input-container class="md-icon-float md-block">
    <label>Profile Name</label>
    <md-icon class="material-icons">add</md-icon>
    <input ng-model="newProfileName" ng-keypress="onKeyPress($event)">
  </md-input-container>
  <md-input-container class="md-icon-float md-block">
    <label>Change Profile</label>
    <md-icon class="material-icons">edit</md-icon>
    <md-select ng-model="profile">
      <md-option ng-repeat="(prof, value) in profiles" value="{{ prof }}">{{ prof }}</md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block text-center">
    <md-button class="md-accent md-hue-2" ng-click="deleteProfile()">Delete Profile</md-button>
    <md-button class="md-raised md-accent md-hue-2" ng-click="clearProfiles()">Clear Profiles</md-button>
  </md-input-container>
</section>
