#mainFab {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

#main-container{
  padding-top: 64px;
}

@media screen and (max-width: 960px) {
  #main-container{
    padding-top: 48px;
  }
}

@media screen and (max-width: 704px) {
  #main-container{
    padding-top: 56px;
  }
}

body > md-toolbar {
  position: fixed;
  top: 0;
}


.btn-lg{
  font-size: 20px;
  padding: 30px;
}
