<html ng-app="app-installer">

<head>
  <title>Hexeract</title>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons|Roboto:100,300,400,500">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/nanoscroller/bin/css/nanoscroller.css" />
  <link rel="stylesheet" href="css/style.css" charset="utf-8">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript">window.$ = window.jQuery = require('./bower_components/jquery/dist/jquery.js');</script>
  <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>

  <!-- Angular Material Dependencies -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js" charset="utf-8"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
  <script src="bower_components/angular-nanoscroller/scrollable.js"></script>
</head>

<body ng-controller="AppController">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-primary md-hue-2">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content>
      <md-list ng-cloak="">
        <md-list-item ng-repeat="item in menuItems" ng-click="go(item.url)">
          <md-icon class="material-icons">{{ item.icon }}</md-icon>
          <p>{{ item.name }}</p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <md-toolbar class="md-primary md-hue-2" md-scroll-shrink ng-if="true" ng-style="{'-webkit-app-region': 'drag'}">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleNav()" style="-webkit-app-region: no-drag;">
        <i class="material-icons">menu</i>
      </md-button>
      <h2>
        <span>Hexeract</span>
      </h2>
      <span flex></span>
      <md-button id="maxBtn" ng-click="max()" class="md-icon-button" aria-label="Favorite" style="-webkit-app-region: no-drag;">
        <i class="material-icons">{{ maxIcon() }}</i>
      </md-button>
      <md-button ng-click="close()" id="closeBtn" class="md-icon-button" aria-label="More" style="-webkit-app-region: no-drag;">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <div id="main-container">
    <scrollable>
      <md-content ng-view>
      </md-content>
    </scrollable>
  </div>



  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/services/Applications.js" charset="utf-8"></script>
  <script src="js/services/Icons.js" charset="utf-8"></script>
  <script src="js/services/Scripts.js" charset="utf-8"></script>
  <script src="js/services/Themes.js" charset="utf-8"></script>
  <script src="js/services/Profiles.js" charset="utf-8"></script>
  <script src="js/controllers/AppController.js" charset="utf-8"></script>
  <script src="js/controllers/AppsController.js" charset="utf-8"></script>
  <script src="js/controllers/DashboardController.js" charset="utf-8"></script>
  <script src="js/controllers/IconsController.js" charset="utf-8"></script>
  <script src="js/controllers/InstallController.js" charset="utf-8"></script>
  <script src="js/services/InstallerFactory.js" charset="utf-8"></script>
  <script src="js/controllers/ScriptsController.js" charset="utf-8"></script>
  <script src="js/controllers/SettingsController.js" charset="utf-8"></script>
  <script src="js/controllers/ThemesController.js" charset="utf-8"></script>
</body>

</html>
